fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

legend {
  margin-bottom: $spacing-small / 2;
  padding: 0;
  font-weight: 600;
}

label {
  display: inline-block;
  line-height: 1.5;
  font-family: $font-regular;
  vertical-align: top;
}

input,
select,
textarea {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 12px 24px;
  border: $border-base;
  border-radius: $border-base-radius;
  background-color: $color-gray-light;
  color: $color-base-font;
  font-size: $font-size-base;
  line-height: 1.5;
  font-family: $font-family-base;
  vertical-align: top;
  transition: border-color $animation-base-duration $animation-base-timing;

  &:focus,
  &:hover {
    border-color: $color-action;
    outline: none;
  }

  &:disabled {
    background-color: shade($color-base-background, 5%);
    cursor: not-allowed;

    &:hover {
      border: $border-base;
    }
  }

  &.form-error,
  &:invalid,
  &:user-invalid {
    border-color: $color-red;
  }
}

[type='search'] {
  appearance: none;
}

[type='checkbox'],
[type='radio'] {
  display: inline;
  margin-right: $spacing-small / 2;

  + label {
    display: inline-block;
    width: auto;
    max-width: 90%;
    padding: 0;
    line-height: $line-height-base;
    vertical-align: top;
  }
}

[type='file'] {
  width: 100%;
}

textarea {
  min-height: 160px;
  resize: vertical;
}

select {
  appearance: none;
  background-image: url('/public/images/icons/dropdown.svg');
  background-position: 95% 50%;
  background-position: right ($spacing-small * 1.5) top 50%;
  background-repeat: no-repeat;

  &::-ms-expand {
    display: none;
  }
}

::placeholder {
  color: rgba($color-base-font, 0.7);
}
