table {
  width: 100%;
  margin: $spacing-small 0;
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  padding: $spacing-small 0;
  border-bottom: 1px solid shade($color-base-border, 25%);
  font-weight: 600;
  text-align: left;
}

td {
  padding: $spacing-small 0;
  border-bottom: $border-base;
}

tr,
td,
th {
  vertical-align: middle;
}
