/api-simple/*
/assets/css/*
/assets/svg/*
/assets/**/*.d.ts
/config/*
/docker/*
/files/*
/migrations/*
/modules/*
/node_modules/*
/public/*
/storage/*
/templates/*
/translations/*
/vendor/*
/webpack/*
