@use '../../1-settings' as *;

.wrapper-inner {
  display: block;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--grid-gap);
  padding-left: var(--grid-gap);
}

.wrapper-inner--relative {
  position: relative;
}
