@use '../../1-settings' as *;

:root {
  --spacing-48-120: 48px;
  --spacing-48-96: 48px;
  --spacing-48-88: 48px;
  --spacing-32-64: 32px;
  --spacing-32-56: 32px;
  --spacing-24-48: 24px;
  --spacing-16-32: 16px;
  --spacing-16-24: 16px;
  --spacing-12-16: 12px;

  @media screen and (min-width: $md-width) {
    --spacing-48-120: 64px;
    --spacing-48-96: 64px;
    --spacing-48-88: 54px;
    --spacing-32-64: 48px;
    --spacing-32-56: 40px;
    --spacing-24-48: 32px;
    --spacing-16-32: 24px;
    --spacing-16-24: 24px;
    --spacing-12-16: 16px;
  }

  @media screen and (min-width: $lg-width) {
    --spacing-48-120: 96px;
    --spacing-48-88: 64px;
    --spacing-32-64: 64px;
    --spacing-32-56: 56px;
    --spacing-24-48: 48px;
    --spacing-16-32: 32px;
  }

  @media screen and (min-width: $xl-width) {
    --spacing-48-120: 120px;
    --spacing-48-96: 96px;
    --spacing-48-88: 88px;
  }
}
