/**
 * Layout wrappers
 */

.wrapper-inner {
  @include wrapper-inner();

  @media screen and (max-width: $md-max-width) {
    padding-left: $grid-default-gutter / 2;
    padding-right: $grid-default-gutter / 2;
  }
}

.wrapper-inner--relative {
  position: relative;
}

.wrapper-grid {
  @include wrapper-inner($grid-wrapper-max-width + calc(((#{$grid-default-gutter} * 2) / 2)));
  padding-left: 0;
  padding-right: 0;
}

.wrapper-grid--collapse {
  @include grid-collapse();

  @media screen and (min-width: $lg-width) {
    @include grid-collapse($neat-grid-lg-min);
  }
}
