.sr-only,
.sr-only-focusable:not(:focus) {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
}

.sr-only-focusable:focus-visible {
  clip: auto;
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
}
