@use '../../1-settings' as *;

.btn {
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  padding: var(--btn-padding, 16px 24px);
  border: 0;
  background-color: var(--btn-background-color, #{$color-primary});
  color: var(--btn-color, #{$color-white});
  font-weight: $font-heading-weight-500;
  font-size: var(--btn-font-size, #{rem(16)});
  line-height: 1;
  font-family: $font-heading;
  cursor: pointer;
  transition: background-color 200ms ease;
  user-select: none;

  @media (hover: hover) {
    &:hover,
    &:focus {
      background-color: var(--btn-background-color-hover, #{rgba($color-primary, 0.75)});
      color: var(--btn-color-hover, #{$color-white});
      text-decoration: none;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn svg {
  fill: currentcolor;

  &:first-child {
    margin-right: 16px;
  }

  &:last-child {
    margin-left: 16px;
  }

  &:first-child:last-child {
    margin: 0;
  }
}
