/* Columns mixin. Add for example "grid-column: 2 / 12;" or "grid-column: span 4;" to its child elements */
@mixin columns {
  grid-gap: var(--grid-gap);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Full absolute */
@mixin full-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
