@use '../1-settings' as *;

:root {
  --input-background-color: #{$color-white};
  --input-background-color-error: #f8d7da;
  --input-background-color-disabled: #{$color-gray-medium};
  --input-background-color-hover: rgb(205 216 232 / 0.8);
  --input-padding: 8px 12px;
  --input-border-hover: 2px solid #{$color-black};
  --input-border: 2px solid #{$color-gray-dark};
  --input-border-disabled: 2px solid #{$color-gray-dark};
  --input-border-error: 2px solid #{$color-red};
  --input-border-radius: 3px;
  --input-color: #{$color-base-font};
  --input-outline-width-hover: 6px;
  --input-opacity-disabled: 0.7;
  --input-placeholder-color: #{rgba($color-base-font, 0.7)};
  --input-margin: 0;
}

button {
  appearance: none;
  border: none;
  background: transparent;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

legend {
  margin-bottom: 8px;
  padding: 0;
  font-weight: 600;
}

label {
  display: inline-block;
  vertical-align: top;
}

textarea {
  min-height: 160px;
  resize: vertical;
}

input,
select,
textarea {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: var(--input-margin);
  padding: var(--input-padding);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  background-color: var(--input-background-color);
  color: var(--input-color);
  font-size: rem(16);
  line-height: $line-height-base;
  font-family: $font-regular;
  vertical-align: top;
  transition: border-color 0.2s ease;

  &:focus,
  &:hover {
    border: var(--input-border-hover);
  }

  &:disabled {
    border: var(--input-border-disabled);
    background-color: var(--input-background-color-disabled);
    cursor: not-allowed;
    opacity: var(--input-opacity-disabled);
  }

  &.form__error,
  &:user-invalid {
    border: var(--input-border-error);
    background-color: var(--input-background-color-error);
  }
}

@media (hover: hover) {
  %input-focus-hover {
    z-index: 3;
    outline: var(--input-outline-width-hover) solid var(--input-background-color-hover);
    background-color: var(--input-background-color-hover);
  }

  input:not(:disabled):hover,
  select:not(:disabled):hover,
  textarea:not(:disabled):hover {
    @extend %input-focus-hover;
  }
}

input:not(:disabled):focus-visible,
select:not(:disabled):focus-visible,
textarea:not(:disabled):focus-visible {
  @extend %input-focus-hover;
}

[type='search'] {
  appearance: none;
}

[type='file'] {
  width: 100%;
}

::placeholder {
  color: var(--input-placeholder-color);
}

@media (prefers-reduced-motion: reduce) {
  input,
  select,
  textarea {
    transition: none;
  }
}
