$grid-wrapper-max-width: $max-width;
$grid-default-columns: 12;
$grid-default-gutter: 30px;

$neat-grid: (
  columns: 12,
  gutter: $grid-default-gutter,
);

$neat-grid-sm-max: (
  columns: 12,
  gutter: $grid-default-gutter / 2,
  media: "screen and (max-width: #{$sm-max-width})"
);
