$grid-wrapper-max-width: $max-width;
$grid-default-columns: 12;
$grid-default-gutter: 32px;

$neat-grid: (
  columns: 12,
  gutter: $grid-default-gutter / 2,
);

$neat-grid-sm-min: (
  columns: 12,
  gutter: $grid-default-gutter / 2,
  media: 'screen and (min-width: #{$sm-width})',
);

$neat-grid-md-min: (
  columns: 12,
  gutter: $grid-default-gutter / 2,
  media: 'screen and (min-width: #{$md-width})',
);

$neat-grid-lg-min: (
  columns: 12,
  gutter: $grid-default-gutter,
  media: 'screen and (min-width: #{$lg-width})',
);
