<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Webpack Babel React revisited</title>

	<!-- replace:css -->
		<link type="text/css" rel="stylesheet" href="style1.css">
		<link type="text/css" rel="stylesheet" href="style2.css">
		<link type="text/css" rel="stylesheet" href="style2.css">
	<!-- endreplace -->

	<!-- replace:js -->
		<script src="[hash].js"></script>
	<!-- endreplace -->
</head>
<body>
</body>
</html>