$r-size: 24px; /* Height & Width of box */
$r-background-color: $color-gray-light; /* Background-color of the box */
$r-border: 1px solid $color-gray-medium; /* Border of the box */
$r-icon-width: 12px; /* Width of the Dot icon */
$r-color: $color-primary; /* Color of the Dot icon */

.form__radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.form__radio input[type='radio'] {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.001;
}

.form__radio__box {
  display: inline-flex;
  z-index: 2;
  position: relative;
  align-items: center;
  justify-content: center;
  width: $r-size;
  min-width: $r-size;
  height: $r-size;
  min-height: $r-size;
  border: $r-border;
  border-radius: $r-size;
  background-color: $r-background-color;

  &:after {
    width: $r-icon-width;
    height: $r-icon-width;
    border-radius: $r-size;
    background-color: $r-color;
    content: '';
    opacity: 0;
  }

  .form__checkbox input[type='radio']:checked + &:after {
    opacity: 1;
  }
}

.form__radio__label {
  margin-left: 16px;
}

.form__input--error + .form__radio__box {
  border: 2px solid $color-red;
}

.form__radio + .form__error {
  margin-top: 4px;
}
