$c-size: 25px;                            // Height & Width of box
$c-border-radius: 5px;                    // Border-radius of the box
$c-background-color: $color-gray-light;   // Background-color of the box
$c-border: 1px solid $color-gray-medium;  // Border of the box
$c-icon-width: 4px;                       // Width of the Check icon
$c-color: $color-primary;                 // Color of the Check icon

.form__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.form__checkbox input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.001;
  z-index: 1;

  &:checked + .form__checkbox__box:after {
    opacity: 1;
  }
}

.form__checkbox__box {
  position: relative;
  display: inline-block;
  width: $c-size;
  height: $c-size;
  min-width: $c-size;
  min-height: $c-size;
  border: $c-border;
  background-color: $c-background-color;
  border-radius: $c-border-radius;
  z-index: 2;

  &:after {
    content: '';
		position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%) rotate(-50deg) scale(1);
    width: ($c-size * .5);
    height: ($c-size * .25);
    background: transparent;
    border: $c-icon-width solid $c-color;
    border-top: none;
    border-right: none;
    border-radius: 1px;
    opacity: 0;
  }
}

.form__checkbox__label {
  margin-left: 15px;
}

.form__input--error + .form__checkbox__box {
  border: 2px solid $color-red;
}

.form__checkbox +  .form__error {
  margin-top: 5px;
}
