$c-size: 24px; /* Height & Width of box */
$c-border-radius: 4px; /* Border-radius of the box */
$c-background-color: $color-gray-light; /* Background-color of the box */
$c-border: 1px solid $color-gray-medium; /* Border of the box */
$c-icon-width: 4px; /* Width of the Check icon */
$c-color: $color-primary; /* Color of the Check icon */

.form__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.form__checkbox input[type='checkbox'] {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.001;
}

.form__checkbox__box {
  display: inline-block;
  z-index: 2;
  position: relative;
  width: $c-size;
  min-width: $c-size;
  height: $c-size;
  min-height: $c-size;
  border: $c-border;
  border-radius: $c-border-radius;
  background-color: $c-background-color;

  &:after {
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: ($c-size * 0.5);
    height: ($c-size * 0.25);
    transform: translate(-50%, -50%) rotate(-50deg) scale(1);
    border: $c-icon-width solid $c-color;
    border-top: none;
    border-right: none;
    border-radius: 1px;
    background: transparent;
    content: '';
    opacity: 0;
  }

  .form__checkbox input[type='checkbox']:checked + &:after {
    opacity: 1;
  }
}

.form__checkbox__label {
  margin-left: 16px;
}

.form__input--error + .form__checkbox__box {
  border: 2px solid $color-red;
}

.form__checkbox + .form__error {
  margin-top: 4px;
}
