/* Brand/Base colors */
$color-primary: #f00;
$color-secondary: #ff0;
$color-tertiary: #f0f;

/* Grays */
$color-white: #fff;
$color-gray-light: #f5f5f6;
$color-gray-medium: #e0e0e4;
$color-gray-dark: #2c2f33;
$color-black: #000;

/* Status colors */
$color-red: #fc3030;
$color-green: #74bd00;

/* Font Colors */
$color-base-font: $color-gray-dark;
