/* Font Families */
$font-regular: arial, sans-serif;
$font-heading: verdana, $font-regular;

/* Line height */
$line-height-base: 1.5;
$line-height-heading: 1.2;

/* Font Weights regular */
$font-regular-weight-400: 400; /* Regular */
$font-regular-weight-500: 500; /* Medium */
$font-regular-weight-600: 600; /* Semi-bold */
$font-regular-weight-700: 700; /* Bold */
$font-regular-weight-800: 800; /* Extra bold */

/* Font Weights heading */
$font-heading-weight-400: 400; /* Regular */
$font-heading-weight-500: 500; /* Medium */
$font-heading-weight-600: 600; /* Semi-bold */
$font-heading-weight-700: 700; /* Bold */
